@font-face{
    font-family: "Lovelace";
    font-weight: 500;
    font-style: normal;
    src: 
        url("../fonts/Lovelace-Medium.woff2") format("woff2"),
        url("../fonts/Lovelace-Medium.woff") format("woff");
    font-display: swap;
}

@font-face{
    font-family: "Lovelace";
    font-weight: 400;
    font-style: normal;
    src: 
        url("../fonts/Lovelace-Regular.woff2") format("woff2"),
        url("../fonts/Lovelace-Regular.woff") format("woff");
    font-display: swap;
}

@font-face{
    font-family: "Lovelace";
    font-weight: 200;
    font-style: normal;
    src: 
        url("../fonts/Lovelace-Light.woff2") format("woff2"),
        url("../fonts/Lovelace-Light.woff") format("woff");
    font-display: swap;
}

@font-face{
    font-family: "Lovelace";
    font-weight: 700;
    font-style: normal;
    src: 
        url("../fonts/Lovelace-Bold.woff2") format("woff2"),
        url("../fonts/Lovelace-Bold.woff") format("woff");
    font-display: swap;
}