@media(max-width:992px){
    .container{
        width: 950px;
    }

    .position-right {
        margin-right: 120px;
    }

    .header-phone {
        margin-right: -35px;
    }

    .last-item-position {
        margin-right: 65px;
    }

    .last-item-footer-left {
        margin-right: 155px;
    }

    .footer-copyrate {
        margin-right: 350px;
    }

    .footer-inst-logo {
        margin-right: 215px;
    }

    /* Главная */

    .slider-main {
        left: 1155px;
    }

    .slider-btn-main{
        position: relative;
        left: -209px;
    }

    .why-AreWe-list {
        flex-wrap: wrap;
        padding-left: 120px;
    }

    .why-AreWe-list-item{
        margin-bottom: 50px;
    }

    .why-AreWe-list-item:nth-child(2n) {
        margin-right: 0px;
    }

    .text-position-why-990{
        position: relative;
        left: 180px;
    }

    .card-list{
        padding-left: 92px;
    }

    .card-list-item:nth-child(4n) {
        margin-right: 25px;
    }

    .card-list-item:nth-child(3n) {
        margin-right: 0px;
    }

    .main-instagram-list {
        padding-left: 225px;
        flex-wrap: wrap;
    }

    .main-instagram-list-item {
        margin-right: 30px;
        margin-bottom: 50px;
    }


    /* Контакты */

    .contact-adress {
        padding-top: 70px;
    }

    .position-adres {
        margin-bottom: 15px;
    }

    .contact {
        margin-bottom: 130px;
    }
    
    .delivery-list-item:not(:last-child) {
        margin-right: 10px;
    }

    .wedding-text{
        margin-right: 80px;
    }

    .wedding-btn{
        margin-top: 35px;
    }

    /* Услуги */

    .service-list-item:nth-child(4n){
        margin-right: 25px;
    }

    .service-list-item:nth-child(3n){
        margin-right: 0px;
    }

    .service-list{
        padding-left: 92px;
    }

    /* О компании */

    .reviews-slide{
        width: 260px !important;
        padding-right: 15px;
    }

    .text-revies-slide {
        width: 270px;
    }

    .left-leaves-img {
        left: -10px;
    }

    .right-leaves-img {
        right: -10px;
    }

    .product-card-list{
        left: 40px;
    }

    .slider-card-product {
        margin-right: 60px;
    }

    .pagination-position-card {
        position: absolute;
        top: 830px;
    }

    .content {
        width: 950px;
    }

    .card-list-item-filter:nth-child(2n){
        margin-right: 0px;
    }

    .card-list-item-filter:nth-child(3n){
        margin-right: 25px;
    }

    .position-filter {
        margin-right: -50px;
    }

    /* Каталог */


    .catalog-list{
        padding-left: 225px;
    }

    .catalog-list-item{
        margin-bottom: 25px;
    }

    .catalog-list-item:nth-child(2n) {
        margin-right: 0px;
    }
    
}

@media(max-width:768px){
    .container{
        width: 720px;
    }

    .header-info{
        padding-top: 0px;
        padding-bottom: 12px;
        box-shadow: 0px 0px 10px rgba(25, 25, 29, 0.2);
        z-index: 90;
        position: relative;
    }

    .main-caption,.main-caption-section{
        font-size: 26px;
        margin-bottom: 40px;
        text-align: center;
    }

    .top-header{
        display: none;
    }

    .time-job-header,.link-header-phone,.menu-header,.catalog-position-links{
        display: none;
    }

    .contacts-bacground-leawes{
        background: none;
    }

    /* footer */

    .footer-position-mobile{
        margin-right: 490px;
    }

    .footer-menu-list{
        display: block;
    }

    .footer-copyrate {
        margin-right: 210px;
    }

    .footer-inst-logo {
        margin-right: 130px;
    }

    /* Каталог */

    .catalog-list {
        padding-left: 105px;
    }

    /* Категории */
    
    .filter-320{
        display: block;
    }

    .position-categori {
        display: block;
    }

    .dropdown-content-filter{
        display: none;
        background: none;
        min-width: 230px;
        border: none;
    }

    .desctop-caption{
        display: none;
    }

    .mobile-caption{
        display: block;
    }

    .btn-filter-drop{
        width: 290px;
        border-radius: 10px;
        position: relative;
        left: 220px;
        background: url('../img/arrow-filter.svg') 30% no-repeat;
        background-color:  #F7EFE7;
        margin-bottom: 30px;
    }

    .filter-price,.filter{
        width: 290px;
    }

    .position-filter {
        position: relative;
        left: 220px;
        margin-bottom: 40px;
    }

    /* Главная */

    .card-list-item:nth-child(3n) {
        margin-right: 25px;
    }

    .card-list-item:nth-child(2n) {
        margin-right: 25px;
    }

    .text-position-why-990 {
        left: 0;
    }

    .main-instagram-list {
        padding-left: 92px;
        flex-wrap: wrap;
    }

    .why-AreWe-list {
        padding-left: 185px;
    }

    /* Карточка товара */

    .card-product {
        display: block;
    }

    .slider-card-product {
        margin-right: 0px;
        margin-bottom: 50px;
    }
    
    .main-caption-card-product{
        width: 580px;
    }

    .pagination-position-card {
        position: absolute;
        top: 570px;
        right: 215px;
    }

    .content {
        width: 740px;
    }

    .text-width {
        width: 650px;
    }

    /* О компании */

    .position-abbout {
        display: block;
    }

    .abbout-img {
        position: absolute;
        top: 660px;
        left: 152px;
    }

    .abbout{
        padding-bottom: 800px;
    }

    .abbout-text{
        text-align: center;
    }

    .reviews-slide {
        width: 310px !important;
        padding-top: 185px;
        padding-left: 30px;
        background-position: 50% 3%;
        background-size: 40%;
        text-align: center;
    }

    .swiper-wrapper {
        margin-left:  15px;
    }

    .leave-revies-btn{
        left: -180px;
        z-index: 2;
    }

    .left-leaves-img{
        left: -80px;
    }

    .right-leaves-img {
        right: -180px;
        top: -265px;
        z-index: 0;
    }


    /* Услуги */


    .service-list-item:nth-child(3n) {
        margin-right: 25px;
    }

    .service-list-item:nth-child(2n) {
        margin-right: 0px;
    }

    /* Услуга */

    .position-text {
        display: block;
        text-align: center;
    }

    .wedding-text{
        width: 740px;
        margin-bottom: 60px;
    }

    /* Оплата */

    .position-payment {
        display: block;
    }

    .position-payment-img {
        position: absolute;
        top: 450px;
        left: 150px;
    }

    .payment {
        padding-bottom: 500px;
        padding-top: 40px;
        margin-bottom: 150px;
    }

    .position-delivery {
        display: block;
    }

    .delivery-text {
        width: 740px;
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .delivery-img {
        margin-left: 150px;
    }

    .delivery-text-settings{
        text-align: center;
    }

    .delivery-list-item:not(:last-child) {
        margin-right: 140px;
    }

    /* Контакты */

    .contact-adress {
        padding-top: 70px;
        width: 740px;
        padding-left: 120px;
        margin-bottom: 40px;
    }

    .contact-position{
        display: block;
    }

    .contact-callback{
        margin-left: 130px;
    }
}

@media(max-width:480px){
    .container{
        width: 430px;
    }

    .footer-position-mobile {
        margin-right: 210px;
    }

    .logo {
        width: 96px;
        height: 34px;
        margin-right: -150px;
    }

    .info-header{
        padding-top: 15px;
        padding-bottom: 0px;
    }

    .contact-adress {
        padding-top: 70px;
        width: 350px;
        padding-left: 0px;
        margin-bottom: 40px;
    }

    .footer-inst-logo img {
        width: 35px;
        position: relative;
        left: 400px;
        top: -25px;
    }

    .footer-inst-logo {
        margin-right: 0px;
        position: absolute;
    }

    .contact-callback {
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 0;
        width: 430px;
    }

    .list-copyrait {
        display: block;
    }

    .payment-img {
        border-radius: 20px;
        width: 350px;
        height: 330px;
    }

    .position-payment-img {
        position: absolute;
        top: 450px;
        left: 80px;
        margin-right: 0;
    }

    .delivery-text {
        width: 430px;
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .delivery-list-item:not(:last-child) {
        margin-right: -5px;
    }

    .delivery-img{
        width: 430px;
        margin-left: 0;
    }

    .wedding-text {
        width: 430px;
        margin-bottom: 60px;
    }

    .abbout-img {
        max-width: 430px;
    }

    .abbout-img {
        top: 710px;
        left: 20px;
    }

    .slide-320{
        display: none;
    }


    .leave-revies-btn {
        left: 0;
        top: -180px;
        z-index: 2;
    }

    .right-leaves-img{
        right: -105px;
        top: -303px;
        z-index: 0;
    }

    .gallery-thumbs, .gallery-top {
        width: 480px;
        margin-left: 30px;
    }

    .btn-filter-drop{
        left: 73px;
    }
}


@media(max-width:320px){

    /* Шапка */

    .container{
        width: 290px;
    }

    .main-caption,.main-caption-section{
        font-size: 20px;
        margin-bottom: 40px;
        text-align: center;
    }

    .top-header{
        display: none;
    }

    .logo{
        width: 95px;
        height: 35px;
        margin-right: 30px;
    }

    .time-job-header,.link-header-phone,.menu-header,.catalog-position-links{
        display: none;
    }

    .contacts-bacground-leawes{
        background: none;
    }

    .top-header-list-item:not(:last-child){
        margin-right: 30px;
    }

    .header-info{
        padding-top: 12px;
        padding-bottom: 12px;
        box-shadow: 0px 0px 10px rgba(25, 25, 29, 0.2);
        z-index: 90;
        position: relative;
    }


    /* контакты */

    .contact-position{
        display: block;
    }
    
    .contact-adress{
        display: block;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .contact-callback{
        padding-left: 15px;
        padding-right: 15px;
        width: 290px;
    }

    .caption-form{
        font-size: 16px;
        text-align: center;
    }

    .callback-form{
        width: 260px;
    }

    .btn-form{
        margin-left: 45px;
    }

    .contact{
        margin-bottom: 85px;
    }

    .map{
        background: url('../img/map-320px.jpg') no-repeat;
        margin-bottom: -330px;
    }

    /* Оформление свадьбы */

    .wedding-bacground-leawes{
        padding-top: 85px;
    }

    .position-text{
        display: block;
    }

    .wedding-text{
        width: 290px;
        margin-right: 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .swiper-container {
        width: 290px;
        height: 180px;
    }

    .swiper-pagination {
        top: 360px;
        width: auto !important;
        left: 20px !important;
        margin: 0;
    }


    /* Услуги */

    .service-bacground-leawes{
        padding-top: 85px;
    }
    
    .service-list{
        width: 290px;
        display: block;
        text-align: center;
    }

    .service-list-item{
        width: 290px;
        margin-right: 0;
    }

    .img-position-service{
        width: 290px;
        margin-left: 20px;
    }

    .img-position-service-320{
        margin-left: 20px;
    }

    .position-service-caption-hover{
        position: relative;
        width: 260px;
        padding-top: 2px;
        padding-bottom: 1px;
        border-radius: 20px 0px 20px 0px;
        background-color: #ffffff;
        margin-bottom: -5px;
        -webkit-box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
        top: -30px;
        left: 16px;
    }

    .position-service-caption-hover-320{
        position: relative;
        width: 260px;
        padding-top: 2px;
        padding-bottom: 1px;
        border-radius: 20px 0px 20px 0px;
        background-color: #ffffff;
        margin-bottom: -5px;
        -webkit-box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
        top: -30px;
        left: -5px;
    }

    .catalog-list{
        width: 290px;
        display: block;
        text-align: center;
    }

    .catalog-list-item{
        width: 290px;
        margin-right: 0;
    }

    .img-position-catalog{
        width: 290px;
        margin-left: 20px;
    }

    .position-catalog-caption-hover{
        position: relative;
        width: 255px;
        padding-top: 2px;
        padding-bottom: 1px;
        border-radius: 20px 0px 20px 0px;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
        top: -30px;
        left: 20px;
        margin-bottom: -30px;
    }

    .catalog-list-item{
        margin-bottom: 40px;
    }

    .position-payment-img{
        display: none;
    }

    .position-payment-img-320{
        display: block;
        width: 290px;
        height: 275px;
    }

    .image-pay-320{
        border-radius: 20px;
    }

    .pay{
        width: 290px;
    }

    .payment-liat-item{
        width: 290px;
    }

    .position-delivery{
        width: 290px;
        text-align: center;
    }

    .delivery-list{
        width: 290px;
    }

    .delivery-price{
        font-size: 12px;
        font-weight: 500;
    }

    .position-delivery-price{
        text-align: left;
    }

    .delivery-list-item{
        margin-right: 25px;
        padding-left: 0px;
    }

    .delivery-price-place{
        font-size: 12px;
    }

    .position-abbout{
        display: block;

    }

    .abbout-img{
        position: absolute;
        width: 290px;
        height: 390px;
        top: 840px;
    }

    .abbout{
        padding-bottom: 500px;
    }

    .slide-320{
        display: none;
    }

    .reviews-slide{
        width: 260px !important;
        height: 290px;
        background-size: 63px 82px;
        background-position: 40% 5%;
    }

    .caption-slider-abbout{
        position: relative;
        top: 95px;
        width: 180px;
        left: -125px;
    }

    .text-revies-slide {
        position: relative;
        top: 90px;
        left: -200px;
        margin-right: -220px;
        line-height: 19,6px;
        text-align: center;
        font-size: 12px;
    }

    .left-leaves-img{
        background: url('../img/abbout-left-back-320.png') 0 0 no-repeat;
        top: 25px;
    }

    .right-leaves-img{
        display: none;
    }

    .card-product{
        display: block;
    }

    .gallery-top{
        width: 290px;
        height: 290px;
        border-radius: 20px;
    }

    .pagination-position-card{
        display: none;
    }

    .article{
        font-size: 10px;
        margin-bottom: 10px;
    }

    .slider-card-product{
        margin-bottom: -50px;
    }

    .card-product-description{
        position: relative;
        z-index: 90;
    }

    .main-caption-card-product{
        margin-top: 0px;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 25px;
    }

    .card-price-decider-product{
        font-size: 13px;
    }

    .product-card-list{
        width: 260px;
    }

    .pay-list-item{
        margin-right: 0px;
    }

    .pay-service-visa{
        margin-right:-15px;
    }

    .add-to-cart-card{
        margin-bottom: 20px;
    }

    .buy-fast-card{
        margin-left: -30px;
        margin-bottom: 80px;
    }

    .button-c{
        width: 290px;
        height: 150px;
    }

    .button-card-tex{
        display: block;
        width: 290px;
    }

    .block-position-on-btn{
        left: 90px;
    }

    .text-card{
        padding: 15px;
    }

    .card-list-item{
        width: 290px;
        margin-left: 15px;
    }

    .flag{
        display: none;
    }

    .card-list-hover{
        display: block;
    }

    .faworite-button,.add-button{
        top: -230px;
    }

    .card-list-item{
        margin-bottom: 50px;
        box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
    }

    .filter{
        display: none;
    }

    .filter-320{
        display: block;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .btn-filter{
        display: none;
    }

    .position-categori{
        display: block;
    }

    .dropbtn{
        width: 290px;
        background-color: #F7EFE7;
        border-radius: 10px;
        text-align: left;
    }

    .filter-320::before{
        content: '';
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        top: 10px;
        background: url('../img/arrow-filter.svg') no-repeat;
    }

    .card-list{
        margin-left: 15px;
    }

    .card-list-item{
        width: 290px;
    }

    .main-instagram-list{
        margin-left: 15px;
        display: block;
    }

    .main-instagram-list-item{
        width: 290px;
    }

    .main-instagram-list-item:not(:last-child){
        margin-bottom: 40px;
    }
    
    .why-AreWe-list{
        display: block;
    }

    .why-AreWe-list-item{
        margin-right: 0;
    }

    .why-AreWe-list-item:not(:last-child){
        margin-bottom: 40px;
    }

    .why-AreWe-list-item h3{
        margin-bottom: -15px;
    }

    .slider-index{
        width: 290px;
    }

    .slider-nav{
        position: relative;
        z-index: 100;
    }

    .slider-main{
        position: relative;
        z-index: -90;
    }
    
    .slider-bac{
        height: 350px;
        margin-bottom: 0;
    }

    .b-container{
        display: block;
    }

    .padding-main-top{
        padding-top: 85px;
    }
} 